{% extends "tv-layout.html" %}
{% block body_classes %}dashboard{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <h1 class="heading-xlarge">Budgeting Loans</h1>
    <p class="dashboard-date">XXXXXXXXX</p>

    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Completion rate</h2>
        <div id="completion-rate" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span>  89% </h3><p><span class="heading-small">Public Beta&colon;</span> 87% <span class="increase"></span> 2% increase</p></div>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Average time to complete</h2>
        <div id="avg-completion" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon; </span> 07&colon;21</h3> <p><span class="heading-small">Public Beta&colon; </span> 07&colon;15 <span class="increase"></span>00&colon;06 increase</p>
        </div>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Completions</h2>
        <div id="completions" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span> 10,600</h3> <p><span class="heading-small">Public Beta&colon; </span> 39,800</p></div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Out of hours applications</h2>
        <div id="ooh-applications" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span> 23%</h3><p><span class="heading-small">Public Beta&colon; </span> 33%</p></div>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Device usage</h2>
        <div id="device-usage" class="stats">
        <p><span class="heading-small">This week&colon;</span>Mobile, Desktop, Tablet</p><p><span class="heading-small">Public Beta&colon; </span> Mobile, Desktop, Tablet <span class="increase"></span>% % %</p></div>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Exit page</h2>
        <div id="exit-page" class="stats">
        <!--<h3 class="heading-xlarge">1h 55m 5s</h3><p><span class="decrease"></span>6m 25s decrease</p></div> -->
      </div>
    </div>

</main>

{% endblock %}


