{% extends "tv-layout.html" %}
{% block body_classes %}dashboard{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <h1 class="heading-xlarge">Budgeting Loans</h1>
    <p class="dashboard-date">XXXXXXXXX</p>

    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Completion rate</h2>
        <div id="completion-rate" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span>&emsp;&emsp; 89% </h3><p><span class="heading-small">Public Beta&colon;</span>&emsp; 87% <span class="increase"></span> 2% increase</p></div>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Average time to complete</h2>
        <div id="avg-completion" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon; </span>&emsp;&nbsp;&nbsp;&nbsp; 07&colon;21</h3> <p><span class="heading-small">Public Beta&colon; </span>&nbsp; 07&colon;15 <span class="increase"></span>00&colon;06 increase</p>
        </div>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Completions</h2>
        <div id="completions" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span>&emsp; 10,600</h3> <p><span class="heading-small">Public Beta&colon; </span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 39,800</p></div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Out of hours applications</h2>
        <div id="ooh-applications" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span>&emsp;&emsp; 23%</h3><p><span class="heading-small">Public Beta&colon; </span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 33%</p></div>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Device usage</h2>
        <div id="device-usage" class="stats">
        <p><span class="heading-small">This week&colon;</span>Mobile, Desktop, Tablet</p><p><span class="heading-small">Public Beta&colon; </span> Mobile, Desktop, Tablet <span class="increase"></span>% % %</p></div>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Exit page&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp; &percnt; of exits</h2>
        <div id="exit-page" class="stats">
        <p>Personal details&emsp;&emsp;&emsp;&emsp; 31.67&percnt;</br>
        Contact details&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; 11.89&percnt;</br>
        Declaration&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp; 10.25&percnt;</br>
        Loan ammount&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp; 9.02&percnt;</br>
        Partner details&emsp;&emsp;&emsp;&emsp;&emsp; 7.05&percnt;</p> 
      </div>
    </div>

</main>

{% endblock %}


