{% extends "layout.html" %}
{% block body_classes %}dashboard{% endblock %}

{% block page_title %}
  Average time to complete
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
	<div class="column-one-third">
        <h2 class="heading-medium heading-tile">Average time to complete</h2>
        <div id="avg-completion" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon; </span> 07&colon;21</h3> <p><span class="heading-small">Public Beta&colon; </span> 07&colon;15 <span class="increase"></span>00&colon;06 increase</p>
        </div>
      </div>
    </div>  
</main>

{% endblock %}
