{% extends "layout.html" %}
{% block body_classes %}dashboard{% endblock %}

{% block page_title %}
  Completion rate
{% endblock %}

{% block content %}

<main id="content" role="main">

<h1 class="heading-large">Completion rate:</h1>

<div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Completion rate</h2>
        <div id="completion-rate" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span>&emsp;&emsp; 89% </h3><p><span class="heading-small">Public Beta&colon;</span>&emsp; 87% <span class="increase"></span> 2% increase</p></div>
      </div>
 </div>     
</main>

{% endblock %}
