{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">
	<h1 class="heading-large">Completions</h1>

	<div class="column-one-third">
        <h2 class="heading-medium heading-tile">Completions</h2>
        <div id="completions" class="stats">
        <h3 class="heading-xlarge"><span class="heading-small">This week&colon;</span> 10,000</h3> <p><span class="heading-small">Public Beta&colon; </span> 100,000</p></div>
      </div>
</main>

{% endblock %}
