{% extends "layout.html" %}

{% block page_title %}
  Widgets index
{% endblock %}

{% block content %}

<main id="content" role="main">
	<h1 class="heading-large">Service dashboard widgets</h1>

		<ul class="list list-bullet">
			<li><a href="/widgets/average-time-to-complete">Average time to complete</li>
			<li><a href="/widgets/active-users">Active users</a></li>
			<li><a href="/widgets/completions">Completions</a></li>
			<li><a href="/widgets/completion-rate">Completion rate</a></li>
			<li><a href="/widgets/device-usage">Device usage</a></li>
			<li><a href="/widgets/exit-pages">Exit pages</a></li>
			
			
			
		</ul>	
</main>

{% endblock %}
