{% extends "tv-layout.html" %}
{% block body_classes %}dashboard{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <h1 class="heading-xlarge">Exits by page</h1>
  <p class="dashboard-date">19th March 2017</p>

  <div class="grid-row">
    <div class="column-one-third">

    </div>
  </div>  

  <div class="grid-row">
    <div class="column-one-third">

    </div>
  </div>  

  <div class="grid-row">
    <div class="column-one-third">

    </div>
  </div>  


</main>

{% endblock %}


