{% extends "layout.html" %}

{% block page_title %}
  Service dashboards
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Service dashboards</h1>

       <h2 class="heading-medium">Prototypes</h2>

      <p>
        Service dashboard examples&colon;
      </p>

      <ul class="bullet list-bullet">
      	<li><a href="/widgets/widgets-index">Widgets</a></li>
      	<li><a href="/example-1/budgeting-loan-dashboard">Eaxmple 1 dashboard</a></li>
      	<li><a href="/example-1/budgeting-loan-tv-dashboard">Example 1 TV dashboard</a></li>


      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
				<li>
					<a href="http://dwp-elements.herokuapp.com/">
						DWP elements guide
					</a>
				</li>
				<li>
					<a href="https://dwp-patterns.herokuapp.com/">
						DWP design patterns
					</a>
				</li>

			</ul>

    </div>
  </div>
</main>

{% endblock %}


